{% extends "base.html.twig" %}

{% block content %}
	<h1>За сайта</h1>
	<p>Авторското ателие дава възможност на всеки безплатно да представи свой проект за ново литературно произведение и да опише от каква помощ има нужда, за да го завърши.</p>
	<p><a href="https://github.com/bmanolov/creatro">Системата на сайта</a> е изградена с помощта на много свободни проекти и е <a href="https://github.com/bmanolov/creatro">свободно достъпна</a>.</p>
{% endblock %}
