{% extends "base.html.twig" %}

{% block content %}
	<div class="intro">
		<h1>Да творим заедно!</h1>
		<p class="lead">Добре дошли в авторското ателие! Тук всеки може да представи свой проект за ново литературно произведение и да опише от каква помощ има нужда, за да го завърши.</p>
		<a class="btn btn-large btn-success" href="/projects/new">Започване на нов проект</a>
	</div>

	<hr>

	<div class="row-fluid">
		<div class="span4">
		<h2>Новата република</h2>
		<p class="subtitle">роман от <a href="/author/nikolaj-slavov">Николай Славов</a> <i>(<a href="/genre/sf-history">Алтернативна история</a>)</i></p>

<p>Януари 1873 година. Левски е в затвора и чака изпълнението на смъртната си присъда. През една ледена нощ стражата е намалила вниманието си и с помощта на няколко свои приятели той успява да избяга. Мълвата за измъкването му бързо обикаля България и вдъхва надежда на населението. Из страната се откриват нови комитети и започва усилена подготовка за освободително въстание. На 11 май 1875 година въстанието избухва и на територията на България е обявено създаването на Балканска република. След десетдневна борба турските войски се оттеглят и след няколко месеца Великите сили признават съществуването на новата република.</p>
		<p><a class="btn" href="/project/novata-republika">Към проекта &raquo;</a></p>
		</div>
		<div class="span4">
		<h2>Валис</h2>
		<p class="subtitle">превод от английски на романа <i>VALIS</i> от <a href="http://bg.wikipedia.org/wiki/%D0%A4%D0%B8%D0%BB%D0%B8%D0%BF_%D0%9A._%D0%94%D0%B8%D0%BA">Филип К. Дик</a> <i>(<a href="/genre/sf">Фантастика</a>)</i></p>
		<p>Според изследователите на творчеството на Филип Дик, трилогията „Валис“ е била главното произведение на живота му. За съжаление той е успял да завърши само два от замислените три романа. Първият роман представлява може би най-личната книга на Дик. В него са намерили отражение собствените му мистични преживявания и човек започва да се чуди дали написаното е измислица или се явява леко преувеличена автобиография на автора.</p>
		<p><a class="btn" href="/project/valis-translation">Към проекта &raquo;</a></p>
	</div>
		<div class="span4">
		<h2>Дивото</h2>
		<p class="subtitle">превод от английски и издаване на романа <i>The Wild</i> от <a href="http://bg.wikipedia.org/wiki/%D0%94%D0%B5%D0%B9%D0%B2%D0%B8%D0%B4_%D0%97%D0%B8%D0%BD%D0%B4%D0%B5%D0%BB">Дейвид Зиндел</a> <i>(<a href="/genre/sf">Фантастика</a>)</i></p>
		<p>„Дивото“ е втората част от трилогията „Реквием за Хомо сапиенс“, продължение на „Падналите богове“.</p>
		<p><a href="http://choveshkata.net/blog/?p=784">„Човешката библиотека“ очаква пожеланието ви.</a></p>
		<p><a class="btn" href="/project/green-shadows-white-whale-translation">Към проекта &raquo;</a></p>
		</div>
	</div>

{% endblock content %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.intro {
			margin: 60px 0;
			text-align: center;
		}
		.intro h1 {
			font-size: 60px;
			line-height: 1.4;
		}
		.intro .lead {
			font-size: 24px;
			line-height: 1.25;
		}
		.intro .btn {
			font-size: 21px;
			padding: 14px 24px;
		}
		.subtitle {
			color: #444;
			font-size: 90%;
		}
	</style>
{% endblock %}
