{% extends "base.html.twig" %}

{% block content %}
	<h1>Представяне на нов проект</h1>
	<p>Авторското ателие все още в тестова фаза и създаването на нови проекти е изключено.</p>
	<p>Елате пак след няколко дни.</p>
{% endblock %}
